<form>
  <div class="container-fluid">
    <h4 class="mt-3">Edit Enrollee</h4>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input
            matInput
            disabled
            type="text"
            placeholder="Id"
            name="id"
            [(ngModel)]="enrolleeDetails.id"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Name"
            name="name"
            [(ngModel)]="enrolleeDetails.name"
            [formControl]="name"
          />
          <mat-error *ngIf="name?.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Date Of Birth</mat-label>
          <input
            matInput
            disabled
            type="text"
            placeholder="Date Of Birth"
            name="dateOfBirth"
            [(ngModel)]="enrolleeDetails.dateOfBirth"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-label class="mat-form-field-infix">Status</mat-label>
        <mat-radio-group
          aria-label="Select an option"
          name="active"
          [(ngModel)]="enrolleeDetails.active"
          [formControl]="active"
          color="primary"
        >
          <mat-radio-button [value]="true">Active</mat-radio-button>
          <mat-radio-button class="rad-right" [value]="false"
            >In active</mat-radio-button
          >
        </mat-radio-group>
        <mat-error *ngIf="active?.hasError('required')"
          >You must make a selection</mat-error
        >
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="saveData()"
        >
          Save
        </button>
        <button [routerLink]="['/enroll/view-all']" mat-raised-button
        class="m-3">
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>
