.example-form {
  min-width: 9.375rem;
  max-width: 31.25rem;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.rad-right {
  padding: 0 1rem;
}
.mat-form-field-infix {
  color: grey;
  font-size: small;
}
.active-rad,
.mat-radio-inner-circle {
  background-color: green;
}
.in-active-rad {
  background-color: red;
}
