<div class="container-fluid">
  <div class="row p-2">
    <div class="col">
      <h4 class="mt-3">Enrollee List</h4>
      <mat-form-field
      class="search-input pl-2">
          <mat-icon matPrefix class="search-icon">search</mat-icon>
          <input matInput type="search"
          placeholder="Search for an enrollee."
          name="search"
      [(ngModel)]="search"
      autocomplete="off">
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="!isLoading" class="row p-2">
    <div class="row p-2">
      <div class="col"
      class="card shadow bg-white rounded"
      *ngFor="let enrollee of (pageOfItems | sortByName )"
    >
      <div class="card-body">
        <a
          class="btn-edit"
          mat-button
          [routerLink]="['/enroll/edit/' + enrollee.id]"
          ><mat-icon>edit</mat-icon></a
        >
        <h5 class="card-title">
          <span
            [matTooltip]="enrollee.active ? 'Active' : 'In-active'"
            [ngClass]="{
              'active-dot': enrollee.active,
              'in-active-dot': !enrollee.active
            }"
          ></span
          >{{ enrollee.name | titlecase }}
        </h5>

        <h6 class="card-subtitle mb-2 text-muted">{{ enrollee.id }}</h6>
        <p class="card-text">
          Date of Birth : {{ enrollee.dateOfBirth | date: "MM/dd/yyyy" }}
        </p>
      </div>
    </div>
    </div>
    <div class="pagination row">
      <app-pagination [pageSize]="8"
    [items]="enrollees"
    [searchString]="search"
    (changePage)="onChangePage($event)"
    (searchResult)="onFilterChange($event)"
    ></app-pagination>
    </div>
    
  </div>
  <div *ngIf="isLoading">
    Loading...
  </div>
</div>
