.card {
    max-width: 400px;
    display: inline-block!important;
    margin: 10px;
  }

  .active-dot, .in-active-dot {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 10px
  }
  .active-dot {
    background-color: green;
  }
  .in-active-dot{
    background-color: red;
  }
  .btn-edit{
    float: right;
    margin-top: -35px;
    margin-right: -40px;
  }
  .search-input{
    max-width: 480px!important;
    width: 100%!important;
  }
  .search-icon {
    color: #4dd0e1!important;
  }